<div class="span4 well">
    <ul class="nav nav-list">
        <li class="nav-header">Our Services</li>
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Web Designing</a></li>
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Android Applications</a></li>
        <li class="divider"></li>
        <li class="nav-header">Our Services</li>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Web Designing</a></li>
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Android Applications</a></li>
        <li class="divider"></li>
        <li><a href="#">Help</a></li>
    </ul>
</div>
