 <img src="images/manjunath-kalburgi.jpg">
 <ul class="nav nav-list nav-fixed-sidebar"> <div class="box">
        <div class="row-fluid">
            <div class="column span3">
                <li class="nav-header">List header</li>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="divider"></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="divider"></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="divider"></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
              </ul>
            </div>
	     <div class="column span9">
	      <div class="padding">
                    <div class="full span9">
                      <div class="hero-unit">
                        <h1>Gmail Style Layout</h1>
                        <p>This is a Bootstrap Gmail or Google Groups type layout with independent scrolling body, left-side nav and fixed top header. Use it as a starting point to create something more unique.</p>
                        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
                      </div>
